body {
    font-family: sans-serif;
}
header{
    display: flex;
}
h1{
    /* Grand Theft Auto V */

position: absolute;
top: 1px;
left: 50px;
width: 401px;
height: 50px;

font-family: 'Itim';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
/* identical to box height */

background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;

border: 1px solid #000000;

}

body{ background-color: #D9D9D9;}

h2{ text-align: center;}



.rg{
    position: absolute;
    top: 1323px;
    color: black;
    background-color: white;
    font-size: 35px;
    left: 100px;
    display: flex; align-items: center;
    justify-content: center;

    
    
    /* Rectangle 4 */




width: 485px;
height: 97px;

border: 5px solid #000000;
border-radius: 30px;

}

.kebab{
    display: flex;
}

.img2{
    position: relative;
    left: 83px;
}

.img1{
    position: relative;
    right: 10px;
}

.whitebg{
    width: 94px;
    background-color: white;
    height: 292px;
    position: absolute;
    top: 1996px;
    left: 280px;
}

.rg1{
    border: 0px;
}

.img3{
    top: 20px;
    position: absolute;
    width: 80px;
left: 620px;
}
